main {
    display: block;
}

.alias__time {
    display: block;
    margin: 35px 0 50px;
    font-size: 64px;
    text-align: center;
    font-family: "Molle";
}

.alias__game-field {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.alias__score-block {
    display: flex;
    flex-direction: column;
}

.alias__score-block .alias__score-block__text {
    margin-bottom: 16px;
    font-family: "Ledger";
}

.alias__score-block .alias__score-block__number {
    text-align: center;
    font-size: 64px;
    font-family: "Molle";
}

.alias__word-table {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: #1A993E;
    border: 3px solid #D71515;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alias__word {
    font-size: 64px;
    font-family: "Ledger";
}

@media screen and (max-width: 550px) {
    .alias__game-field {
        margin-top: 65px;
    }


    .alias__skipped-block {
        flex-direction: row;
        margin-top: 50px;
        color: #000;
    }

    .alias__word-table {
        width: 200px;
        height: 200px;
    }

    .alias__guessed-block {
        flex-direction: row;
        margin-bottom: 50px;
    }

    .alias__guessed-text,
    .alias__skipped-text {
        margin-right: 40px;
    }
}

@media screen and (max-width: 420px) {
    .alias__word-table {
        width: 150px;
        height: 150px;
    }

    .alias__word {
        font-size: 32px;
    }
}